@import "tailwindcss";

::-webkit-scrollbar {
  width: 1px;
}
::-webkit-scrollbar-track {
  background: #3f3f46;
}

::-webkit-scrollbar-thumb {
  background-color: #71717a;
  border-radius: 8px;
}
* {
  font-family: "Urbanist", sans-serif;
}
